Alerts_BWSwift/Alerts_BWSwift.xcodeproj/project.xcworkspace/xcuserdata/chekov.xcuserdatad/UserInterfaceState.xcuserstate
Alerts_BWSwift/Alerts_BWSwift.xcodeproj/xcuserdata/chekov.xcuserdatad/xcschemes/xcschememanagement.plist
